<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content="eZ Platform" />

        {% if content is defined and title is not defined %}
            {% set title = ez_content_name(content) %}
        {% endif %}

        {% block page_title %}
            <title>{{ title|default('Home')|trans }} - Adam Wójs</title>
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            {% stylesheets 'assets/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header">
            <div class="container">
                <h1 class="site-title"><a href="/">Adam Wójs</a></h1>
            </div>
        </header>

        <div class="site-navigation">
            <div class="container">
                {% block main_menu %}
                    {{ knp_menu_render('main', {'template': '::menu/main_menu.html.twig'}) }}
                {% endblock %}
            </div>
        </div>

        <main class="site-content">
            {% block content %}{% endblock %}
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col">
                        {% block social_media %}
                        <nav class="nav">
                            <a href="https://github.com/adamwojs" class="nav-link" target="_blank">
                                <img src="{{ asset('/assets/img/github.png') }}" alt="GitHub" width="24"/>
                                GitHub
                            </a>
                            <a href="https://www.linkedin.com/in/adamwojs/" class="nav-link" target="_blank">
                                <img src="{{ asset('/assets/img/linkedin.png') }}" alt="LinkedIn" width="24"/>
                                LinkedIn
                            </a>
                        </nav>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
            <!-- Application Main -->
            {% javascripts 'assets/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
